#board td{
  border: 1px solid;
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: center;
  font-size: 32px;
}

#board{
  margin: 0 auto;
}

.container{
  width: 900px;
  margin: 0 auto;
  text-align: center;
}